<h1>A greeting for You!</h1>
<p><%= @message %></p>
<h2>现在时间是：</h2>
<p><%= @time %></p>
<h2>欢迎访问中国科学院大学主页<h2>
  <a href="http://www.gucas.ac.cn">中国科学院大学</a>
<h2>如果您想退出请点击这里</h2>
  <a href="/bye/back">退出</a>
<h2>从此处查看创建的数据库表</h2>
  <a href="/courses">courses表</a>
